#my-img {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    z-index: -999;
}

.image-background {
    font-size: 25px;
    text-align: center;
}

.image-background span {
    position: relative;
    top: -150px;
}

#slide-out {
    padding: 20px;
}

.ele-container {
    text-align: center;
}

.intro {
    text-align: center;
}

h2 {
    font-weight: 100;
    margin-bottom: 6px;
    font-size: 1.5em;
    font-family: sans-serif;
}

h3 {
    font-size: 1.2em;
    opacity: .3;
    margin-top: 0px;
}

.button-wrapper {
    text-align: center;
}

.file-field {
    width: 200px;
    display: inline-block;
}

.file-field input.file-path {
    height: 20px;
}

.nav-wrapper {
    text-align: center;
}

nav .brand-logo {
    position: relative;
    top: 10px;
}

nav .button-collapse {
    position: absolute;
    left: 0px;
    top: 0px;
}

#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0%;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.upload-button {
    width: 100%;
}

.ele-container span {
    font-size: 100px;
    font-weight: 100;
    position: relative;
    top: -200px;
    opacity: .3;
}

.form-section,
.modal-trigger {
    font-size: x-large;
}

.modal-trigger:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
}

.footer-copyright {
    border-top: 1px solid #ee6e73;
    margin-top: 10px;
    padding: 5px;
    opacity: .5;
}

.input-field {
    margin-top: 0px;
}

#download {
    color: white;
}

#controls {
    padding-bottom: 20px;
}

label {
    font-size: 1.1em;
}

.noUi-target.noUi-ltr.noUi-horizontal {
    margin-bottom: 20px;
    margin-top: 3px;
}

.hero {
    position: relative;
    /* width: 100%; */
    padding: 2em 0;
}

.hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero__title {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 5em;
    color: white;
}