
.triangles {
  fill: none;
}

.links {
  stroke: #000;
}

.sites {
  fill: #000;
  stroke: #fff;
}

.triangles .primary {
  fill: #f00;
}

.links .primary {
  stroke: #fff;
}

.sites :first-child {
  fill: #fff;
}
img{
  opacity:0;
  position:absolute;
}

@import "bourbon";

.hero {
  padding: 3em 0;
  background: #333;
  position: relative;
  
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__title {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
  }
}