/* Control Panel CSS */

.controlWrapper {
    padding: 15px;
    margin-bottom: 100px;
}

h3 {
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.sliderWrapper {
    margin-top: 15px;
}

#uploadWrapper {
    width: 100%;
    text-align: center;
}

@media (min-width:900px) {
    .controlWrapper {
        margin-top: 100px;
    }
}